    <div class="row">
    <div class="col-sm-2">
        <i class="far fa-check-square"></i>
    </div>
    <div class="col-sm-4">
        construire un stade olympique
    </div>
    <div class="detail-button col-sm-3 align-items-center">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editPostModal">
            <i class="fa fa-angle-double-right fa-xs"></i> Details
        </a>
    </div>
    {{#if user}}
    <div class="detail-button col-sm-3 align-items-center">
        <a href="/edit" class="btn btn-secondary">
            <i class="fa fa-edit fa-xs"></i> Changer
        </a>
    </div>
    {{/if}}
    </div>
    <div class="promess-item">
        <div class="row">
            <div class="col-sm-2">
                <i class="far fa-square"></i>
            </div>
            <div class="col-sm-4">
            construire un stade olympique
            </div>
            <div class="detail-button col-sm-3 align-items-center">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editPostModal">
                    <i class="fa fa-angle-double-right fa-xs"></i> Details
                </a>
            </div>
            {{#if user}}
            <div class="detail-button col-sm-3 align-items-center">
                <a href="/edit" class="btn btn-secondary">
                    <i class="fa fa-edit fa-xs"></i> Changer
                </a>
            </div>
            {{/if}}
        </div>
    </div>
    </div>

