<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Youth Can</title>
</head>
<body>
  
  <!-- SHOWCASE SLIDER -->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

      </ol>
      <div class="carousel-inner">

     <div class="carousel-item carousel-image-1 active ">
       <div class="dark-overlay1">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-md-center mb-5 carousel-caption carousel-text">
              <h1 class="display-3">Youth Can</h1>
              <p class="lead">Youth can what old can't , old can what youth can </p>
            <!--  <a href="https://www.facebook.com/YouthCanTun/" class="btn btn-primary btn-lg" onclick="window.open(this.href); return false;">Facebook : Youth Can</a>-->
            <div id="video-pla1">
              <div>
                <div class="row">
                  <div class="col">
                    <div class="container p-5">
                      <a
                        href="#"
                        class="video"
                        data-video="https://www.youtube.com/embed/HnwsG9a5riA"
                        data-toggle="modal"
                        data-target="#videoModal"
                      >
                        <i class="fa fa-play"></i>
                      </a>
                      <h4>The website in a video</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
        <div class="carousel-item carousel-image-2">

        </div>

      </div>

    <a href="#myCarousel" data-slide="prev" class="dark-overlay2 carousel-control-prev">
        <div class=" dark-overlay2"><span class="carousel-control-prev-icon"></span></div>
      </a>

      <a href="#myCarousel" data-slide="next" class=" dark-overlay2 carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  <!-- HOME ICON SECTION -->
  <section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <h3>Consulter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <h3>Controler</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <h3>Surveiller</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, maxime.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- VIDEO PLAY SECTION -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a
              href="#"
              class="video"
              data-video="https://www.youtube.com/embed/F5-b0e7Sc2w"
              data-toggle="modal"
              data-target="#videoModal"
            >
              <i class="fa fa-play"></i>
            </a>
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- STAFF SECTION -->
  <section id="staff" class="py-5 text-center">
    <div class="container text-dark">
      <h1>Our Staff</h1>
      <div class="row text-dark">
        <div class="col-md-3">
          <img src="img/person1.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Jane Doe</h4>
          <small>Marketing Manager</small>
        </div>
        <div class="col-md-3">
          <img src="img/person2.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Sara Williams</h4>
          <small>Business Manager</small>
        </div>
        <div class="col-md-3">
          <img src="img/person3.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>John Doe</h4>
          <small>CEO</small>
        </div>
        <div class="col-md-3">
          <img src="img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>Steve Smith</h4>
          <small>Web Developer</small>
        </div>
      </div>
    </div>
  </section>



  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2018 &copy; Youth Can</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- VIDEO MODAL -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <iframe src="" height="350" width="100%" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
